.ul {
   margin: 12px 6px;
}

.measurement {
   .dimension {
      font-family: 'Roboto-Medium';
      font-weight: 500;
      margin-right: 6px;
   }
   
   > span {
      margin-right: 6px;

      &:last-child {
         margin-right: 0;
      }
   }
}
