@use '@digdir/designsystemet-css';
@use './_theme.css';
@use './reset';
@use '../../node_modules/ol/ol.css';
@use '../../node_modules/pretty-print-json/dist/css/pretty-print-json.css';
@use './fonts';
@use './overrides';

:root {
    --page-width: 1520px;
}

html {
    font-family: 'Inter';
    font-size: 12px;
    scrollbar-gutter: stable;

    &.no-scroll {
        overflow: hidden;
    }
}

body {
    background-color: #ffffff;
    color: #101828;
}

*[role="button"] {
    cursor: pointer;
}

// .json-container {
//     white-space: pre;
//     font-weight: normal;
// }
