.grid {
    display: flex;
    gap: 24px;

    >div {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 24px;

        &:first-child {
            flex: 0 0 50%;
        }

        &:last-child {
            width: calc(50% - 24px);
        }

        &:empty {
            display: none;
        }
    }
}

.expandables {
    >*:last-child {
        border-bottom: 1px solid #e0e0e0;
    }
}

.buttonContainer {
    display: flex;
    justify-content: right;
}

.loading {
    width: 100%;
    height: 412.5px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guidanceLinks {
    margin-bottom: 0;
}

.content {
    margin: 2px;
}

.cartography {
    max-height: 264px;
    overflow: auto;
}