.dialogContent {
   display: flex;
   flex-direction: column;
   height: 60vh;
}

.mapContainer {
   position: relative;
   flex: 1;
}

.map {
   width: 100%;
   height: 100%;
   border: 1px solid #c4c4c4;
   border-radius: 4px;
   overflow: hidden;
}

.buttons {
   display: flex;
   flex-direction: column;
   gap: 6px;
   position: absolute;
   top: 6px;
   left: 6px;
}

.editorButtons {
   position: absolute;
   top: 6px;
   left: 50%;
   transform: translateX(-50%);
}