.app {
   width: 1380px;
   margin: 0 auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.heading {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   padding: 0 24px;
   position: relative;

   img {
      width: 108px;
      position: absolute;
      left: 0;
   }
}

.content {
   background-color: #F3F6F9;
   flex: 1;
   box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   padding: 24px;
}

.input {
   display: flex;
   flex-direction: column;
   padding: 24px;

   .row {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 24px;

      &:last-child {
         border-bottom: 0 none;
         padding-bottom: 0;
         margin-bottom: 0;
      }

      .addGeometry {
         position: relative;
         margin-right: 48px;

         .icons>* {
            display: none;
            position: absolute;
            top: 6px;
            right: -30px;
            z-index: 1;
         }
      }

      >div {
         margin-right: 24px;
      }
   }
}

.result {
   margin-bottom: 24px;
}

.accordion {
   display: flex;
   align-items: center;

   .accordionTitle {
      display: flex;
      font-size: 16px;
      margin-top: 1px;
   }

   &::before {
      display: flex;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      width: 27.5px;
      height: 25px;
      background-size: 27.5px;
      margin-right: 10px;
   }

   &.success::before {
      background-image: url(assets/gfx/icon-success.svg);
   }

   &.warning::before {
      background-image: url(assets/gfx/icon-warning.svg);
   }

   &.error::before {
      background-image: url(assets/gfx/icon-error.svg);
   }

   &.noStatus::before {
      content: none;
   }
}