name: dokanalyse

services:
  front-end:
    container_name: dokanalyse-front-end
    build:
      context: ./client/front-end
    environment:
      - SOCKET_IO_SRV_URL=http://host.docker.internal:5002/
    ports:
      - "80:80"
      - "443:443"
    networks:
      - internal      
    restart: always
    depends_on:
      - web-api
      - socket-io

  web-api:
    container_name: dokanalyse-web-api
    build:
      context: ./client/api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Pygeoapi__ApiUrl=http://host.docker.internal:5000/processes/dokanalyse/execution
    ports:
      - "5001:5001"      
    expose:
      - "5001"
    networks:
      - internal      
    restart: always

  mcp-server:
    container_name: dokanalyse-mcp-server
    build:
      context: ./client/mcp
    environment:
      - DOK_API_BASE_URL=http://web-api:5001/api
      - MCP_ENDPOINT=/mcp
      - ASPNETCORE_URLS=http://+:5003
    ports:
      - "5003:5003"
    expose:
      - "5003"
    networks:
      - internal
    depends_on:
      - web-api
    restart: always

  socket-io:
    container_name: dokanalyse-socket-io
    build:
      context: ./socket-io
    ports:
      - "5002:5002"   
    expose:
      - "5002"
    networks:
      - internal      
    restart: always    

volumes:
  dokanalyse:

networks:
  internal:
    driver: bridge
