.dialogContent {
   display: flex;
   flex-direction: column;

   .contentTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0 18px 0;

      .fileSelect {
         width: 200px;
      }
   }
   
   .geoJson {
      position: relative;
      margin-bottom: 18px;

      textarea {
         font-family: menlo, consolas, monospace;
         line-height: 1.5;
      }
   }

   .icons > * {
      display: none;
      position: absolute;
      top: 24px;
      right: 48px;
      z-index: 1;
   }
}