.grid {
   display: flex;

   > div {
      display: flex;
      flex-direction: column;

      &:first-child {
         flex: 0 0 600px;
         margin-right: 24px;
      }

      > * {
         margin-bottom: 24px;
      }
   }
}

.expandables {
   > *:last-child {
      border-bottom: 1px solid #e0e0e0;
   }
}

.loading {
   width: 550px;
   height: 412.5px;
   border: 1px solid #e0e0e0;
   display: flex;
   align-items: center;
   justify-content: center;
}