.dropzone {
    margin-bottom: var(--ds-size-3);
    padding: 18px;
    border: 2px dashed #e5e7eb;
    border-radius: var(--ds-border-radius-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
        border-color: #bbbcbd;
    }

    p {
        margin-bottom: var(--ds-size-2);
    }

    .acceptedFileTypes {
        font-size: 12px;
    }
}