.mapImage {
    padding: 18px;
    margin-bottom: 24px;

    .mapFrame {
        display: flex;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
    }

    .buttonContainer {
        position: absolute;
        right: 8px;
        bottom: 8px;
        display: flex;
        justify-content: right;
        z-index: 1;
    }
}
