.mapImage {
    padding: 18px;
    margin-bottom: 24px;

    > div {
        display: flex;
        border-radius: 4px;
        overflow: hidden;
    }

    .buttonContainer {
        display: flex;
        justify-content: right;
        margin-top: 18px;
    }
}