.dialogContent {
    display: flex;
    flex-direction: column;
    height: 60vh;

    .contentTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0 6px 0;

        .fileSelect {
            width: 360px;
        }
    }

    .tabs {
        border-bottom: 1px solid #c4c4c4;
        margin-bottom: 12px;
    }

    .tabPanel:not([hidden]) {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .icons>* {
        display: none;
        position: absolute;
        top: 24px;
        right: 48px;
        z-index: 1;
    }
}

.menuItem {
    display: flex;
    flex-direction: column;

    &>span:last-child {
        color: #8b8b8b;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
