.generalInfo {
    padding: 18px;
    margin-bottom: 24px;

    >div {
        column-count: 3;
        column-rule: 1px solid #d2d5d8;
        column-gap: 36px;
    }
}

.label {
    font-family: 'Roboto-Medium';
    margin-right: 6px;
}