.progressContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #8E8E8E;
    border-radius: var(--ds-border-radius-lg);
    background-color: #FCFCFC;
    margin-bottom: 120px;
    height: 642px;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 672px;
    height: 400px;
    background-color: #ffffff;

    h3 {
        font-family: 'Manrope';
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 8px 0;
    }
}

.statuses {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F1F5F9;
    border-bottom: 1px solid #F1F5F9;
    padding: 16px 0;
    gap: 16px;
    font-family: 'Manrope';
    font-weight: 500;
    width: 448px;

    .status {
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border: 1px solid;
            border-radius: var(--ds-border-radius-sm);
            color: #0F172B;
            font-size: 12px;
            margin-right: 12px;
        }

        &.notStarted {
            color: #5B5B5B;

            .icon {
                border-color: #E2E8F0;
                background-color: #F8FAFC;
                color: #CAD5E2;
            }
        }

        &.inProgress .icon {
            border-color: #1C75D2;
            color: #1C75D2;
        }

        &.done .icon {
            border-color: #1C75D2;
            background: url('../../assets/gfx/icon-checkmark.svg') no-repeat center;
            background-color: #1C75D2;
        }

        >div {
            display: flex;
            flex-direction: column;
            position: relative;
            flex: 1;

            .progressBar {
                position: absolute;
                bottom: -16px;
                width: 100%;
            }
        }
    }
}