.result {
    margin-bottom: 24px;
}

.resultGroup {
    margin-bottom: 18px;
}

.accordionSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    .hitAndDistance {
        display: flex;
        gap: 24px;
        font-size: 16px;
    }
}

.accordion {
    display: flex;
    align-items: center;

    .accordionTitle {
        display: flex;
        font-size: 16px;
        margin-top: 1px;
    }

    .themeName {
        text-transform: capitalize;
    }    
    
   

   
}
.tabledok { 
    padding: 0;  
    

    &::before {
        display: inline-block;
        content: '';
      
        width: 15px;
        height: 50px;    
        margin-right: 10px;
        margin-bottom: -11px;
        margin-top: -6px;
    }
    &.success::before {
        background-color: green;            
    }

    &.warning::before {
        background-color: orange;
    }

    &.error::before {
        background-color: red;
    }

    &.noStatus::before {
        content: none;
    }   
}
.warningbadge {
    background-color: orange;
    padding: 10px;
    display: inline-block;
    width: 200px;
}
.title {
    display: inline-block;
    width: 400px;
}
