.result {
    margin-bottom: 24px;
}

.resultGroup {
    margin-bottom: 18px;
}
.accordionContainer {
    
    &.redwarning > div {
        background-color: rgb(253, 246, 237);
    }
}
.accordionSummary {
    display: grid;
    grid-template-columns: 750px 340px 150px;
    gap: 10px;    
    padding: 10px;   
   
}
.warnings {
    display: flex;
    flex-direction: column;
    min-width: 342px;
    padding: 6px;
    background-color: rgb(255, 224, 180);
    border-radius: 4px;
    border: 1px solid rgb(252, 182, 82);
    > div > span {
        width: 120px;
        display: inline-block;
    }

}
.accordion {
    display: flex;
    align-items: top;
   

    .accordionTitle {
        display: flex;
        font-size: 16px;
        margin-top: 1px;
        > span {
            margin-left: 6px;
        }
    }

    .themeName {
        text-transform: capitalize;
    }

    &::before {
        display: flex;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        width: 27.5px;
        height: 25px;
        background-size: 27.5px;
        margin-right: 10px;
    }

    &.success::before {
        background-image: url('../../assets/gfx/icon-success.svg');
    }

    &.warning::before {
        background-image: url('../../assets/gfx/icon-redwarning.svg');
    }
    &.redwarning::before {
        background-image: url('../../assets/gfx/icon-warning.svg');
    }    

    &.error::before {
        background-image: url('../../assets/gfx/icon-error.svg');
    }

    &.noStatus::before {
        content: none;
    }    
}

.notRelevant {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 24px;
    font-size: 16px;

    .heading {
        font-family: 'Roboto-Medium';
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
    }
}
 .hitAndDistance {
    display: flex;
    white-space: nowrap;
}
.warningText {
    
    width: 200px;
    text-align: left;
}