.result {
    margin-bottom: 24px;
}

.resultGroup {
    margin-bottom: 18px;
}

.resultRow {
    display: grid;
    grid-template-columns: 216px 1.5fr 1fr 180px;
    column-gap: 24px;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 24px;
    font-size: 16px;
    cursor: pointer;

    &.warning {
        background-color: rgb(253, 246, 237);
    }

    &:last-child {
        border-bottom: 0 none;
    }

    .themeName {
        display: flex;
        text-transform: capitalize;

        &::before {
            display: flex;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 27.5px;
            height: 25px;
            background-size: 27.5px;
            margin-right: 10px;
        }

        &.success::before {
            background-image: url('../../assets/gfx/icon-success.svg');
        }

        &.warning::before {
            background-image: url('../../assets/gfx/icon-warning.svg');
        }

        &.redwarning::before {
            background-image: url('../../assets/gfx/icon-error.svg');
        }

        &.error::before {
            background-image: url('../../assets/gfx/icon-redwarning.svg');
        }

        &.noStatus::before {
            content: none;
        }
    }

    .title {
        grid-column: span 2;
        //white-space: pre-line;
    }

    &.hasWarnings .title {
        grid-column: span 1;
    }

    .warnings {
        padding: 6px 12px 6px 30px;
        border-radius: 4px;
        
        background-color: rgb(255, 224, 180);

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 14px;
        }
    }

    .hitAndDistance {
        display: flex;
        justify-self: end;
        white-space: nowrap;
    }
}

.notRelevant {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 24px;
    font-size: 16px;

    .heading {
        font-family: 'Roboto-Medium';
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
    }
}

.tooltip {
    font-size: 14px;
}