.result {
    margin-bottom: 24px;
}

.resultGroup {
    margin-bottom: 18px;
}

.resultRow {
    display: grid;
    grid-template-columns: 216px 1.5fr 1fr 180px;
    column-gap: 24px;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 24px;
    font-size: 16px;
    cursor: pointer;

    &.warning {
        background-color: rgb(253, 246, 237);
    }

    &:last-child {
        border-bottom: 0 none;
    }

    .themeName {
        display: flex;
        text-transform: capitalize;

        &::before {
            display: flex;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 27.5px;
            height: 25px;
            background-size: 27.5px;
            margin-right: 10px;
        }

        &.noHitGreen::before {
            background-image: url('../../assets/gfx/icon-no-hit-green.svg');
        }

        &.noHitYellow::before {
            background-image: url('../../assets/gfx/icon-no-hit-yellow.svg');
        }

        &.hitYellow::before {
            background-image: url('../../assets/gfx/icon-hit-yellow.svg');
        }

        &.hitRed::before {
            background-image: url('../../assets/gfx/icon-hit-red.svg');
        }

        &.timeout::before {
            background-image: url('../../assets/gfx/icon-timeout.svg');
        }

        &.error::before {
            background-image: url('../../assets/gfx/icon-fail.svg');
        }

        &.noStatus::before {
            content: none;
        }
    }

    .title {
        grid-column: span 2;
    }

    &.hasWarnings .title {
        grid-column: span 1;
    }

    &.hasFailed {
        cursor: default;

        .title {
            color: #d32f2f;
        }
    }

    .warnings {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        height: max-content;
        border-radius: 4px;
        background-color: rgb(255, 224, 180);

        ul {
            margin: 0;
            padding: 0;
            font-size: 14px;

            li {
                margin-left: 18px;

                &:only-child {
                    list-style: none;
                    margin-left: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .hitAndDistance {
        display: flex;
        justify-self: end;
        white-space: nowrap;
    }
}

.notRelevant {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 24px;
    font-size: 16px;

    .heading {
        font-family: 'Roboto-Medium';
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
    }
}

.tooltip {
    font-size: 14px;
}