.dataset {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #E5E7EB;
    border-radius: var(--ds-border-radius-lg);
}

.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F3F4F6;
    padding: 24px 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        border-bottom: 0 none;
        padding-bottom: 0;
    }

    .label {
        flex-shrink: 0;
        width: 140px;
        font-weight: 500;
        color: #6A7282;      
    }
}

.description {
    white-space: pre-line;
}