.tableContainer {
    border: 1px solid #E5E7EB;
    border-radius: var(--ds-border-radius-lg);
    overflow: hidden;
    margin-bottom: 120px;

    &>div {
        overflow-y: auto;
        height: 640px;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

.responseTable {
    table-layout: fixed;
    width: 100%;

    tr {
        cursor: pointer;

        &:last-child td {
            border-bottom: 1px solid transparent;
        }

        &:hover td {
            background-color: #fcfcfd;
        }
    }

    th {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: rgb(252 252 253);
        border-bottom: 1px solid #E5E7EB;
        color: #6A7282;
        padding: 16px;
        line-height: 1.25;

        &:nth-child(1) {
            width: 90px;
        }

        &:nth-child(2) {
            width: 192px;
        }

        &:nth-child(4) {
            width: 150px;
        }

        &:nth-child(5) {
            width: 42px;
            padding-left: 0;
        }
    }

    td {
        color: #101828;
        border-bottom: 1px solid #E5E7EB;
        padding: 24px 16px;
        line-height: 1.25;
        min-height: 77px;

        &:nth-child(5) {
            padding-left: 0;
            text-align: right;
        }
    }
}

.responseTable tr {
    &.selected td:first-child {
        border-left: 4px solid;
        padding-left: 12px;
    }

    &.mustHandle {
        &.selected td {
            background-color: #FEF3F2;
            border-bottom-color: #FB2C36;

            &:first-child {
                border-left-color: #FB2C36;
            }
        }

        .status {
            background-color: #FEF3F2;

            svg {
                stroke: #F04438;
            }
        }
    }

    &.mustCheck {
        &.selected td {
            background-color: #FFFBEB80;
            border-bottom-color: #FE9A00;

            &:first-child {
                border-left-color: #FE9A00;
            }
        }

        .status {
            background-color: #FFFAEB;

            svg {
                stroke: #F79009;
            }
        }
    }

    &.nearby {
        &.selected td {
            background-color: #F0FDF480;
            border-bottom-color: #00C950;

            &:first-child {
                border-left-color: #00C950;
            }
        }

        .status {
            background-color: #ECFDF3;

            svg {
                stroke: #12B76A;
            }
        }
    }

    &.notAnalyzed {
        .status {
            background-color: #F2F4F7;

            svg {
                stroke: #344054;
            }
        }
    }
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    svg {
        width: 14px;
        height: 14px;
    }
}

.themes {
    display: flex;
    gap: 3px;
}

.theme {
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    background-color: #F3F4F6;
    color: #4A5565;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 9px;
    line-height: 1;
}

.descriptionAndWarnings {
    display: flex;
    align-items: center;
    gap: 60px;

    .description {
        display: flex;
        flex-direction: column;

        .preTitle {
            font-weight: 500;

            &.error {
                color: #b81a1a;
            }

            &.notImplemented {
                color: #8E8E8E;
            }
        }

        .datasetTitle {
            font-size: 12px;
            color: #6A7282;
        }

        .title {
            font-size: 14px;
            font-weight: 700;
            color: #101828;
        }
    }

    .warnings {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        height: max-content;
        border-radius: var(--ds-border-radius-default);
        background-color: #FEE9CE;

        ul {
            margin: 0;
            padding: 0;
            font-size: 14px;

            li {
                margin-left: 18px;
                line-height: 1.5;

                &:only-child {
                    list-style: none;
                    margin-left: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hitAreaOrDistance {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
}