.factsheet {
    overflow: hidden;
    background-color: white;
    margin: 10px 0;
    border-radius: 4px;
    padding: 20px;

    &.expanded {
        height: auto;
        overflow: hidden;
    }
}

.factSheet {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;

    >div {
        width: 50%;
        margin-bottom: 0;
    }
}

.generalInfo {
    width: 50%;

    &>div {
        column-count: 4;
    }
}

.dialog {
    width: 90vw;
    height: 90vh;
}

.factsheetbtn:hover {
    cursor: pointer;
}