{% extends "_base.html" %}
{% block title %}{{ super() }} {% trans %}Home{% endtrans %} {% endblock %}
{% block body %}

<br />
<section id="collections">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <section id="identification">
                <h1>{{ config['metadata']['identification']['title'] }}</h1>
                <p>{{ config['metadata']['identification']['description'] }}</p>

                <p>
                    {% for kw in config['metadata']['identification']['keywords'] %}
                    <span class="badge bg-primary text-bg-primary">{{ kw }}</span>
                    {% endfor %}
                </p>
            </section>
            {% if data['collection'] %}
            <section id="collections">
                <h2>{% trans %}Collections{% endtrans %}</h2>
                <p>
                    <a href="{{ config['server']['url'] }}/collections?f=html">{% trans %}View the collections in this
                        service{% endtrans %}</a>
                </p>
            </section>
            {% endif %}
            {% if data['stac'] %}
            <section id="collections">
                <h2>{% trans %}SpatioTemporal Assets{% endtrans %}</h2>
                <p>
                    <a href="{{ config['server']['url'] }}/stac?f=html">{% trans %}View the SpatioTemporal Assets in
                        this service{% endtrans %}</a>
                </p>
            </section>
            {% endif %}
            {% if data['processes'] %}
            <section id="processes">
                <h2>{% trans %}Processes{% endtrans %}</h2>
                <p>
                    <a href="{{ config['server']['url'] }}/processes?f=html">{% trans %}View the processes in this
                        service{% endtrans %}</a>
                </p>
            </section>
            <section id="jobs">
                <h2>{% trans %}Jobs{% endtrans %}</h2>
                <p>
                    <a title="Browse jobs" href="{{config.server.url}}/jobs">{% trans %}Browse jobs{% endtrans %}</a>
                </p>
            </section>
            {% endif %}
            <section id="openapi">
                <h2>{% trans %}API Definition{% endtrans %}</h2>
                <p>
                    {% trans %}Documentation{% endtrans %}: <a href="{{ config['server']['url'] }}/openapi?f=html">{%
                        trans %}Swagger UI{% endtrans %}</a> <a
                        href="{{ config['server']['url'] }}/openapi?f=html&ui=redoc">{% trans %}ReDoc{% endtrans %}</a>
                </p>
                <p>
                    <a href="{{ config['server']['url'] }}/openapi?f=json">{% trans %}OpenAPI Document{% endtrans %}</a>
                </p>
            </section>
            <section id="conformance">
                <h2>{% trans %}Conformance{% endtrans %}</h2>
                <p>
                    <a href="{{ config['server']['url'] }}/conformance?f=html">{% trans %}View the conformance classes
                        of this service{% endtrans %}</a>
                </p>
            </section>
        </div>
    </div>
</section>

{% endblock %}