.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 18px;

    > div {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: -26px;
    }
}

.tableContainer {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.chartContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 67%;

    // > div {
    //     width: 50%;
    // }

    // > ul {
    //     width: 50%;
    // }

    .chart {
        height:360px; 
        width:360px;
    }
}

.labels {
    margin: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        gap: 10px;

        .color {
            width: 12px;
            height: 12px;
            flex-shrink: 0;
        }
    }
}
