.paragraphs p {
    margin-bottom: var(--ds-size-3);

    &:last-child {
        margin-bottom: 0;
    }
}

.button {
    border: 0 none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: #0072E5;
    text-decoration: underline;
    text-decoration-color: rgba(0, 127, 255, 0.4);
    text-underline-offset: 0.27em;

    &:hover {
        text-decoration-color: #0072E5;
    }
}