.actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 3px;

    a {
        display: flex;
        align-items: center;

        svg {
            margin-right: 6px;
        }
    }
}