.pieContent {
    display: flex;
    align-items: center;
}
.buildings {
 display: flex; 
 gap: 40px;
 margin-top: 70px;
 align-items: center;
 justify-content: flex-start;  
}
.labels {
    list-style: none;
    padding-right: 20px;
    text-align: right;
    min-width: 300px;
}
.areaTypes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px; 
    align-items: center; 
    border: 1px solid #ccc; 
    padding: 10px;
    max-width: 400px;

}
.theChart {
    width: 400px;
    justify-content: center;
    align-items: center;
    
}
.colors {
    display: flex;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    > span {
        white-space: nowrap;
        display: inline-block;
        width: 12px;
        height: 12px;
    }    
}