.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--ds-size-3) 0 var(--ds-size-6) 0;

    img {
        width: 108px;
    }

    h1 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
    }
}