@font-face {
   font-family: "Roboto-Thin";
   src: local("Roboto-Thin"), url("../assets/fonts/Roboto-Thin.woff2") format("woff2");
}

@font-face {
   font-family: "Roboto-Regular";
   src: local("Roboto-Regular"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
   font-family: "Roboto-Medium";
   src: local("Roboto-Medium"), url("../assets/fonts/Roboto-Medium.woff2") format("woff2");
}