.progressBar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;

    svg {
        height: 4px !important;
        border-radius: 4px;
    }
}

.progressBarText {
    width: 48px;
    text-align: right;
    position: static !important;
    transform: none !important;
    color: unset !important;
}